@import url('https://fonts.googleapis.com/css2?family=Kaisei+Tokumin:wght@400;500;700&family=Poppins:wght@300;400;500&display=swap');

:root{
    --lg-font: 'Kaisei Tokumin', serif;
    --sm-font: 'Poppins', sans-serif;
    --color-hover: #CBAE7B;
    --c-rgb: 255,255, 255;
}
body{
    font-family: var(--sm-font);
}

/* button */
.bg-primary{
    background-color: var(--color-hover)!important;
}

.btn:not(.nav-btns button){
    background-color: #fff;
    color: rgb(85, 85, 85);
    padding: 10px 28px;
    border-radius: 25px;
    border: 1px solid rgb(85, 85, 85);
}
.btn:not(.nav-btns button):hover{
    background-color: var(--color-hover);
    color: #fff;
    border-color: var(--color-hover);
}

/* text color */
.text-primary{
    color: var(--color-hover)!important;
}

/*---------------- navbar --------------------------*/
.navbar{
    -webkit-box-shadow: 0 3px 9px 3px rgba(0, 0, 0, 0.1);
            box-shadow: 0 3px 9px 3px rgba(0, 0, 0, 0.1);
}

.navbar-brand img{
    width: 100px;
}

.navbar-brand span{
    letter-spacing: 2px;
    font-family: var(--sm-font);
}
.nav-item{
    padding: 6px;
}
.nav-link:hover{
    color: var(--color-hover)!important;
}

.nav-item{
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.05);
}

.signin{
    background-color: #fff;
    border-radius: 50px;
    border: solid 1px #333;
}

.signin:hover{
    background-color: var(--color-hover);
    color: #fff;
    border: solid 1px var(--color-hover);
}

/* ------------------ home---------------------- */
#home{
    width: 100%;
    background-color: antiquewhite;
}   

.details{
    text-align: justify;
    align-items: center;
    justify-content: center;
    padding: 5% 10% 10% 15%;
}

/* ------------------ searchbar---------------------- */

.container_block{
    margin-top: 100px;
}

.searchbar{
    display: flex;
    justify-content: left;
    align-items: center;
    text-align: center;
    padding-top: 5%;
    padding-left: 15%;
    padding-right: 15%;
}

.search-bar{
    background: rgba(255, 255, 255,0.8);
    display: flex;
    align-items: center;
    border-radius: 60px;
    padding: 5px 10px;
    width: 100%;
    max-width: 500px;
}

.search-bar input{
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 10px 10px;
    font-size: 17px;
    color: #333;
    width: 100%;

}

.search-bar button{
    background: transparent;
    border: 0;
    outline: none;
    font-size: 17px;
    color: #333;
}

/*----carousel-----*/




























