@import url('https://fonts.googleapis.com/css2?family=Kaisei+Tokumin:wght@400;500;700&family=Poppins:wght@300;400;500&display=swap');

:root{
    --lg-font: 'Kaisei Tokumin', serif;
    --sm-font: 'Poppins', sans-serif;
    --color-hover: #333;
    --c-rgb: 255,255, 255;
    --main-color: #50C878;
}

*{
    padding: 0;
    margin: 0;
}
body{
    font-family: var(--sm-font);
}

/* button */


.btn:not(.nav-btns button){
    background-color: #fff;
    color: rgb(85, 85, 85);
    padding: 10px 28px;
    border-radius: 25px;
    border: none;
}
.btn:not(.nav-btns button):hover{
    background-color: rgb(194, 230, 194);
    color: #fff;
    border-color: var(--color-hover);
}

/* text color */
.text-primary{
    color: var(--color-hover)!important;
}

/*---------------- navbar --------------------------*/
.navbar{
    -webkit-box-shadow: 0 3px 9px 3px rgba(0, 0, 0, 0.1);
            box-shadow: 0 3px 9px 3px rgba(0, 0, 0, 0.1);
}

.navbar-brand img{
    width: 100px;
}

.navbar-brand span{
    letter-spacing: 2px;
    font-family: var(--sm-font);
}
.nav-item{
    padding: 6px;
}
.nav-link:hover{
    color: var(--color-hover)!important;
}

.dropdown:hover .dropdown-menu{
    display: block;
}

/* ------------------ home---------------------- */
#home{
    width: 100%;
}   

.details{
    text-align: justify;
    align-items: center;
    justify-content: center;
}

.details h1{
    color: #fff;
    margin-bottom: 15px;
}

.details p{
    color: #333;
    margin-bottom: 30px;
}
/* ------------------ searchbar---------------------- */

#container_block{
    margin-top: 100px;
}

.intro{
    padding: 3% 15%;
    background-color: #50C878;
}

.searchbar{
    display: flex;
    justify-content: left;
    align-items: center;
    text-align: center;
    padding-bottom: 5%;
}

.search-bar{
    background: rgba(255, 255, 255,0.8);
    display: flex;
    align-items: center;
    border-radius: 60px;
    padding: 5px 10px;
    width: 100%;
    max-width: 500px;
}

.search-bar input{
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 10px 10px;
    font-size: 17px;
    color: #333;
    width: 100%;

}

.search-bar button{
    background: transparent;
    border: 0;
    outline: none;
    font-size: 17px;
    color: #333;
}

/*----offers/services-----*/

.services{
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 50px;
}
.offers{
    padding: 4% 15%;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.offers_img{
    height: 80px;
    padding-bottom: 3%;
}

.offers h6{
    color: var(--main-color);
}

.offers P{
    font-size: 14px;
}

.offer{
    padding: 0% 3%;
}

/*-----------------products images------------*/

.overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    cursor: pointer;
    background: #333;
    transition: opacity 0.4s ease-in-out;
}

.categories .categories_large_item{
    height: auto;
    margin-bottom: 10px;
    margin-left: 10px;
    position: relative;
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.categories_large_item:hover .overlay{
    opacity: 0.8;
}

.categories .categories_large_item .categories_text{
    position: absolute;
    left: 20px;
    max-width: 400px;
}

.categories .categories_large_item .categories_text h1{
    margin-bottom: 5px;
    color: var(--main-color)
}

.categories .categories_large_item .categories_text p{
    margin-bottom: 15px;
    color: black;
}

.categories .categories_item {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    margin-right: 10px;
    margin-left: 10px;
}

.categories_item:hover .overlay{
    opacity: 0.8;
}

.categories .categories_text{
    position: absolute;
    left: 20px;
    max-width: 300px;
    z-index: 2;
}

.categories .categories_item .categories_text h1{
    margin-bottom: 5px;
    color: var(--main-color);
    font-size: 18px;
}

.categories .categories_item .categories_text p{
    margin-bottom: 15px;
    color: black;
    font-size: 15px;
}

/*-----products------*/

.active-filter-btn{
    background-color: var(--color-hover)!important;
    color: #fff!important;
    border-color: var(--color-hover)!important;
}
.filter-button-group .btn:hover{
    color: #fff!important;
}
.collection-img span{
    top: 20px;
    right: 20px;
    width: 46px;
    height: 46px;
    border-radius: 50%;
}

.special-img span{
    top: 20px;
    right: 20px;
}
.special-list .btn{
    padding: 8px 20px!important;
}
.special-img img{
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.special-img:hover img{
    -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
            transform: scale(1.2);
}

.fas{
    color: rgb(255, 255, 143);
}


.addtocart{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.addtocart a{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 1px solid 	#50C878;
    border-radius: 50%;
    font-size: 20px;
    color: 	#50C878;
    text-decoration: none;
    transition: .5s ease;
    animation: slideLeft 1s ease forwards;
    animation-delay: calc(.2s * var);
}
.addtocart a:hover{
    background: #50C878;
    color: #fff;
    box-shadow: 0 0 20px #50C878;
}







/* about */
#about{
    background-color: rgba(179, 179, 179, 0.05);
}







/*----footer----*/

.information{
    background: #50C878;
}